@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import url('https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap');

.container {
  display: flex;
  width: 100%;
  padding: 4% 2%;
  box-sizing: border-box;
  height: 100vh;
}

.box-inner {
  flex: 1;
  overflow: hidden;
  transition: .5s;
  margin: 0 2%;
  box-shadow: 0 20px 30px rgba(0,0,0,.1);
  line-height: 0;
}

.box-inner > img {
  width: 200%;
  height: calc(100% - 10vh);
  object-fit: cover;
  transition: .5s;
}

.box-inner > span {
  font-size: 3.8vh;
  display: block;
  text-align: center;
  height: 10vh;
  line-height: 2.6;
}

.box-inner:hover { flex: 1 1 50%; }
.box-inner:hover > img {
  width: 100%;
  height: 100%;
}

html,body{
  font-family: 'Lato', sans-serif,;
}
.container img{
    backface-visibility: hidden;
}
.navbar{

      text-align:center;
      margin: 0 auto;
      justify-content:center;
    font-family: STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑";


}

.navbar-brand a{
    text-align:center;
    margin: 0 auto;
    justify-content:center;
  font-family: STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑";

}

.navbar-toggler{
    transform: translateX(0rem);
    margin-left: -5rem;
}

@media only screen and (max-width: 995px) {
    .Name ,.socialconnect a{
        display: none;
    }
}

.Name{
    width:13%;
    margin: 0 auto;
    text-align:center;
    font-size: 1.8rem;
    transform: translateY(-5.7rem);
    background-color: white;
}

.Name a{
    color:#333333;
}

.Name a:hover{
    color:#aaaaaa;
    transition: .5s linear;
}

.navigation{
    margin-left: 4rem;
    margin-right: 4rem;
}

.socialconnect{
    //background-color: red;
    position: fixed;
    right:8%;
}

.socialconnect a{
    font-size: 1.2rem;
    box-sizing: border-box;
    margin-left: 0.5rem;
}

.Card{
    width: 82%;
    height: 100%;
    margin: 0 auto;
    transform: translateY(0%);
    //background-color: red;
}

.card{
    width: 22rem;
    height: 22rem;
    margin: 0 auto;
    background-color: #AAAAAA;
    padding: 0rem;
    text-align:center;
}


.card-img{
    position: relative;
    transition: 1s;
}

.card-img img{
    display: block;
    width: 100%;
    filter:brightness(100%);
    border-radius: 5px;
    opacity: 1;
}


.carousel-inner{
  width:50%;
  height: 50%;
  margin: 0 auto;
  text-align:center;
  position: relative;
}

.Connect{
  margin-top: 10%;
  margin-bottom: 2rem;
}

.social a{
    text-align:center;
    font-size: 1.5rem;
    padding: 1rem;
}

.bi-instagram,.bi-behance,.bi-facebook{
  color:#AAAAAA;
}

.bi-instagram:hover,.bi-behance:hover,.bi-facebook:hover{
  color:#111111;
}

.footer{
  font-family: STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑";
  position: fixed;
            left: 0px;
            bottom: 0px;
            width: 100%;
            height: 50px;
            background-color: #eee;
            z-index: 9999;

}

.figure img{
  display:inline-block;
  max-width:30%;
  max-height:30%;

  margin-top:150px

}
.m1 {
  margin-left: 180px;
}

.m2{
  margin-right: 180px;
}

.m3{
  margin-left: 180px;
}
.m4{
  margin-right: 180px;
}

.m5{
  margin-left: 180px;
}
.m6{
  margin-right: 180px;
}
.m7{
  margin-left: 180px;
}
.m8{
  margin-right: 180px;
}
.figure img:hover{
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
.reminder{
  margin-top:50px;
  text-align: center;

}
.bi-arrow-up-circle{
  font-size: 3.5rem;
  color: #aaaaaa;
  opacity: 0.4;
  z-index: 999999;
  position: fixed;
  bottom: 65px;
  left: 92%;
  margin-left: 40px;
  width: 38px;
  height: 38px;
  cursor: pointer;
}

.bi-arrow-up-circle:hover{
  opacity: 1;
  filter: alpha(opacity=100);
}


.footer{
      height: 250px;
      text-align: center;
      font-size: 13px;
      padding: 0px 100px;
      position: relative;
  }
  .footer{
    cursor: pointer;
  }
  .copyright{
    font-size: 12px;
  }
  .info{
    font-size: 14px;
    color: #72767b;
    line-height: 25px;
  }



.jumbotron{
    height: 100%;
    width: 100%;
    //background:url("Personal homepage_img/Home.png");
    background:url("Personal homepage_img/Home.mp4");
    position: absolute;
    background-position: center,center;
    background-size: cover;
    //background-color: red;
}

.jumbotron-text{
    margin: auto auto;
    text-align:center;
    margin-top:15%;
    margin-bottom:15%;
    font-size: 1.2rem;
    //background-color: red;
}

.btn{
    margin: 2rem;
}

.back-video{
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.Connect2{
    background-color: red;
    margin-left: 10%;
}


.social2{
    width:100%;
    //background-color: red;
    margin-bottom: 4rem;
    transform: translateX(1%);
}

.social2 a{
    width: 100%;
    font-size: 1.1rem;
    padding: 0.5%;
    transform:translateY(-8px);
    //background-color: red;
    margin-bottom: 10px;
}

#icon{
    color:white;
}

#icon:hover{
    color:white;
    opacity: 0.3;
    transition: .2s linear;
}




.introduce{
    //background-color: red;
    width: 60%;
    margin: auto auto;
    text-align:center;
}

.title2{
    margin-bottom: 6rem;
    color: #909090;
}
.img-thumbnail{
  width:20%;
  height:20%;
}
.text2{
    font-size:1.2rem;
    margin: auto auto;
    text-align:center;
    margin-bottom: 2rem;
    margin-top: 2rem;
    color:#aaaaaa;
    line-height: 2rem;
    font-family: 'Lato:300', sans-serif;
    font-weight:lighter;
}

.text2:hover,.text3:hover{
    font-weight:normal;
}

.text3{
    font-size:1.2rem;
    margin: auto auto;
    text-align:center;
    margin-bottom: -2rem;
    margin-top: 4rem;
    color:#aaaaaa;
    line-height: 2rem;
    font-family: 'Lato:300', sans-serif;
    font-weight:lighter;
}

.me{
  margin: auto auto;
  text-align:center;
  margin-top: 4rem;
}

.me2{
  margin: auto auto;
  text-align:center;
  margin-top: 2rem;
}

.me img{
    width: 20%;
    height: 20%;
    position: relative;
    transition: 1s;
    text-align:center;
    border: 1px solid white;
}

.me2 img{
    width: 34%;
    height: 34%;
    position: relative;
    transition: 1s;
    text-align:center;
    border: 1px solid white;
}


.me img:hover,.me2 img:hover {
    width: 24%;
    height: 24%;
    border: 1px solid gray;
    opacity: 0.6;
    transform: scale(1.15,1.15);
}

.RD{
    font-size: 20%;
    margin: auto auto;
    text-align:center;
    margin-top: 4rem;
}

.videoElement{
 object-fit: fill;
}



<!--Hover Card主要样式-->
<style>
.demo{padding:2em 0;}
:root{--color_1:#fff;--main-color:#1dd1a1}
.box{text-align:center;position:relative;overflow:hidden;float:left;display:inline;transform:translateX(1rem)}
.box:before,.box:after,.box-content:before,.box-content:after{content:'';background:linear-gradient(transparent,rgba(0,0,0,0.9));height:100%;width:25%;transform:translateY(-100%);position:absolute;left:0;top:0;z-index:1;transition:all 0.3s}
.box:hover:before,.box:hover:after,.box:hover .box-content:before,.box:hover .box-content:after{transform:translateY(0)}
.box:after{left:25%}
.box .box-content:before{left:50%}
.box .box-content:after{left:75%}
.box:hover:before{transition-delay:0.225s}
.box:hover:after{transition-delay:0.075s}
.box:hover .box-content:before{transition-delay:0.15s}
.box:hover .box-content:after{transition-delay:0s}
.box img{width:100%;height:auto;transition:all 0.3s ease 0s}
.box:hover img{filter:grayscale(100%)}
.box .box-content{width:100%;height:100%;position:absolute;bottom:0;left:0;transition:all 0.2s}
.content{width:100%;padding:7px 0;opacity:0;position:absolute;left:0;bottom:-30px;z-index:2;transition:all 0.3s ease 0.1s}
.container{width:80%;margin:auto}
.container .row{width:100%;height:auto}
.container .row .rowli{width:33%;margin-right:0%;float:left}
.container .row .rowli:last-child{margin-right:0px}
.box:hover .content{opacity:1;bottom:5px}
.box .title{color:#fff;font-size:25px;font-weight:500;letter-spacing:1px;text-transform:uppercase;margin:0}
.box .post{color:var(--main-color);font-size:16px;font-style:italic;text-transform:capitalize;letter-spacing:1px;margin-bottom:10px;display:block}

@media only screen and (max-width:990px){.box{margin-bottom:30px}
}@media only screen and (max-width:479px){.box .title{font-size:20px}
}
</style>
